{% include base.html %}
<!doctype html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{page.title}}</title>


    <meta name="description"
          content="Update what your Blog is about in this section"/>

    <meta name="author" content="Your name goes here"/>
    <meta name="copyright" content="Maybe consider a Creative Commons license"/>

    <link rel="stylesheet" href="{{base}}/css/foundation.css"/>
    <link rel="stylesheet" href="{{base}}/css/font-awesome.css"/>
    <link rel="stylesheet" href="{{base}}/css/coderay.css"/>
    <link rel="stylesheet" href="{{base}}/css/asciidoctor.css"/>
<!--
    <script src="/js/vendor/modernizr.js"></script>
    <script src="/js/toc.js"></script>
-->
</head>
<body>


<!-- Nav Bar -->

<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
            <h1>
                <a href="{{base}}">
                    Home
                </a>
            </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
</nav>
<!-- End Nav -->
