{% include base.html %}
<!doctype html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{page.title}}</title>


    <meta name="description"
          content="Update what your Blog is about in this section"/>

    <meta name="author" content="Your name goes here"/>
    <meta name="copyright" content="Maybe consider a Creative Commons license"/>

    <link rel="stylesheet" href="{{base}}/css/foundation.css"/>
    <link rel="stylesheet" href="{{base}}/css/font-awesome.css"/>
    <link rel="stylesheet" href="{{base}}/css/coderay.css"/>
    <link rel="stylesheet" href="{{base}}/css/asciidoctor.css"/>

    <style>
        html {
            overflow-y: scroll;
        }
    </style>
</head>
<body>


<!-- Nav Bar -->

<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text">almighty</li>
        </ul>
    </div>
    <div class="top-bar-right">
       <ul class="menu">
           <li><a href="{{base}}/ux/ux-overview.html">ux designs</a></li>
           <li><a href="{{base}}/meetings/agendas.html">meetings</a></li>
           <li><a href="{{base}}/">home</a></li>
       </ul>
    </div>
</div>
<!-- End Nav -->
