{% include header.html %}
<!-- Main Page Content and Sidebar -->

<div class="row">

    <!-- Main Blog Content -->
    <div class="large-9 columns" role="content">

        {{ content }}

    </div>

    <!-- End Main Content -->

    <!-- Sidebar -->

    <aside class="large-3 columns">

        <div class="panel">
            <h5>Blueprints</h5>

            {% for blueprint in site.blueprints %}
                <a href="{{base}}{{blueprint.url}}">{{blueprint.title}}</a><br/>
            {% endfor %}
        </div>

    </aside>

    <!-- End Sidebar -->
</div>

<!-- End Main Content and Sidebar -->

{% include footer.html %}